#body {
  background: #f2f9ff;
  font-family: 'Arial', sans-serif;
  color: black;
  padding-top: 0px;
  padding-bottom: 0px;
}

#header-main {
  text-align: left;
  font-family: 'Standard', 'Helvetica', sans-serif;
  font-weight: bolder;
  font-size: 52px;
  margin-left: 33px;
  margin-right: 33px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: black;
}

.modal-title {
  font-family: 'Standard', 'Helvetica', sans-serif;
  font-size: 24px;
  color: black;
}

.header-layers {
  font-family: 'Standard', 'Helvetica', sans-serif;
  font-size: 36px;
  color: black;
  margin-top: 18px;
  margin-bottom: 18px;
}

.row.no-gutter>[class*='col-'] {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#top-section {
  /*background: -webkit-linear-gradient(to top, #ffffff, #f2fdff);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to top, #ffffff, #f2fdff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 90px;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#mapContainer {
  height: 100%;
  width: 100%;
  display: inline-block;
  outline-color: #CDD2D4;
  outline-width: 3px;
  outline-style: solid;
  padding-top: 0px;
  padding-bottom: 0px;
}

#sidebar {
  display: inline-block;
  padding-right: 33px;
  padding-left: 33px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: auto;
  outline-color: #CDD2D4;
  outline-width: 3px;
  outline-style: solid;
  /*background: -webkit-linear-gradient(to bottom, #ffffff, #f2fdff);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to bottom, #ffffff, #f2fdff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.glyphicon {
  float: right;
}

#github {
  float: right;
}

#loading {
  float: right;
}

.circle {
  width: 10px;
  height: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.square {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
}