---
import Base from '../layouts/Base.astro';
import PostLede from '../components/PostLede.astro';
import blurbs from '../data/blurbs.json';
import '../styles/Posts.scss';

const photoDirectory = '/post_images/';
---

<Base>
  <div class="mcard arial">
    <div class="card">
      <h3>The Latest</h3>
      <div>
        {
          blurbs.map((blurb) => (
            <PostLede data={blurb} photoDirectory={photoDirectory} />
          ))
        }
      </div>
    </div>
  </div>
</Base>
