---
// Icon paths are the MUI GitHub / LinkedIn / MusicNoteRounded icons the
// old footer rendered, inlined as plain SVGs.
const socials = [
  {
    name: 'kyleslugg',
    url: 'https://github.com/kyleslugg',
    iconPath:
      'M12 1.27a11 11 0 00-3.48 21.46c.55.09.73-.28.73-.55v-1.84c-3.03.64-3.67-1.46-3.67-1.46-.55-1.29-1.28-1.65-1.28-1.65-.92-.65.1-.65.1-.65 1.1 0 1.73 1.1 1.73 1.1.92 1.65 2.57 1.2 3.21.92a2 2 0 01.64-1.47c-2.47-.27-5.04-1.19-5.04-5.5 0-1.1.46-2.1 1.2-2.84a3.76 3.76 0 010-2.93s.91-.28 3.11 1.1c1.8-.49 3.7-.49 5.5 0 2.1-1.38 3.02-1.1 3.02-1.1a3.76 3.76 0 010 2.93c.83.74 1.2 1.74 1.2 2.94 0 4.21-2.57 5.13-5.04 5.4.45.37.82.92.82 2.02v3.03c0 .27.1.64.73.55A11 11 0 0012 1.27'
  },
  {
    name: 'kyle-slugg',
    url: 'https://www.linkedin.com/in/kyle-slugg/',
    iconPath:
      'M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77z'
  },
  {
    name: 'me-coded',
    url: 'https://open.spotify.com/playlist/3XE1EI1TpQNTJjzD3iD4Fe?si=9840cb47847e4efd',
    iconPath:
      'M12 5v8.55c-.94-.54-2.1-.75-3.33-.32-1.34.48-2.37 1.67-2.61 3.07-.46 2.74 1.86 5.08 4.59 4.65 1.96-.31 3.35-2.11 3.35-4.1V7h2c1.1 0 2-.9 2-2s-.9-2-2-2h-2c-1.1 0-2 .9-2 2z'
  }
];
---

<div class="mcard">
  <div class="socialLinkHolder" style="border-top: .5pt solid #222222">
    {
      /* prettier-ignore */
      socials.map((network) => (
        <a href={network.url}><svg viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d={network.iconPath} /></svg><span>{network.name}</span></a>
      ))
    }
  </div>
</div>
