---
interface Props {
  data: {
    date: string;
    title: string;
    imgSrc: string;
    blurbText: string;
    fulltextUri: string;
  };
  photoDirectory: string;
}

const { data, photoDirectory } = Astro.props;
const { title, imgSrc, blurbText, fulltextUri } = data;
---

<div class="mcard postBlurbHolder">
  <img class="workImgHolder" src={photoDirectory + imgSrc} alt={title} />
  <div class="postBlurbText">
    <h4>{title}</h4>
    <p>
      {blurbText}
      <a href={fulltextUri} target="_blank" style="margin-right: 10px">
        <span style="float: right; margin-right: 5px">Read More &#10142;</span>
      </a>
    </p>
  </div>
</div>
